.key-btn {
  padding: 15px 30px;
  font-size: 10px;
  background-color: #e0e0e0;
  border: 1px solid #cacaca;
}

.key-btn:nth-of-type(4n),
.key-btn:last-child {
  background-color: #f5913e;
}

.key-btn:nth-of-type(17) {
  grid-column: span 2;
}
