.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
  width: 100%;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.navItems a {
  color: #4285f4;
  font-size: 20px;
}
